p {
	margin: 0;
}
div {
	margin-bottom: 20px;
}
div {
    width: 80px;
    height: 80px;
    background: #FFCC00;
}
section {
    width: 200px;
    height: 100px;
    border: 1px solid #000;
	padding: 10px;
	margin-top: 50px;
}
