.layout-height {
    width: 300px;
    border: 2px solid #000;
    overflow: hidden;
}
.layout-height section {
    color: #FFF;
    float: left;
}
.layout-border {
    border-left: 100px solid #F60;
    background: #FC0;
    width: 200px;
    float: left;
}
.layout-border-left {
    width: 100px;
    margin-left: -100px;
}
.layout-border-right {
    width: 200px;
}