p {
	margin: 0;
}
section {
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
	margin-bottom: 20px;
}
div {
	width: 50px;
    height: 50px;
    background: #FFCC00;
}
section::after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
  font-size: 0;
  height: 0;
}