p {
	margin: 0;
}
p {
	margin-bottom: 10px;
}
section {
	border: 1px solid #000;
	font-size: 20px;
	margin-bottom: 10px;
	width: 250px;
	padding: 10px;
}
@font-face {
	font-family: "iconfont";
	src: url('../../../assets/font/iconfont.eot'); /* IE9*/
	src: url('../../../assets/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../../assets/font/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../../../assets/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../../../assets/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.ui-icon,i[class^="ui-icon-"] {
	font-family: "iconfont";
	font-weight: normal;
	font-style: normal;
	font-size: 28px;
}
.ui-icon-add::before {
	content: "\e614";
}
.ui-icon-warn::before {
	content: "\e820";
}
.ui-icon-home::before {
	content: "\e635";
}
.ui-icon-success::before {
	content: "\e61f";
}
.ui-icon-next::before {
	content: "\e60a";
}
.ui-icon-like::before {
	content: "\e617";
}