div {
    overflow: hidden;
    border: 2px solid #000;
    text-align: center;
    width: 310px;
    margin: 20px;
}
.float-left {
    background: #F60;
    width: 100px;
    height: 100px;
    line-height: 100px;
    float: left;
    color: #FFF;
}
.float-right {
    background: #FC0;
    width: 200px;
    margin-left: 10px;
    height: 80px;
    line-height: 80px;
    float: left;
    color: #FFF;
}
.float-right2 {
    width: 210px;
}