div {
    overflow: hidden;
    border: 2px solid #000;
    text-align: center;
    width: 50%;
    margin: 20px;
}
.fluid-left {
    background: #F60;
    width: 30%;
    height: 100px;
    line-height: 100px;
    float: left;
    color: #FFF;
}
.fluid-right {
    background: #FC0;
    width: 60%;
    margin-left: 10px;
    height: 80px;
    line-height: 80px;
    float: left;
    color: #FFF;
}