.layout-height {
    width: 300px;
    border: 2px solid #000;
    overflow: hidden;
}
.layout-height section {
    color: #FFF;
    float: left;
}
.layout-js-left {
    width: 100px;
    background: #F60;
}
.layout-js-right {
    width: 200px;
    background: #FC0;
}