p {
	margin: 0;
}
div {
	margin: 50px;
	width: 200px;
	height: 100px;
	border: 1px solid #000;
	position: relative;
}
span {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 70px;
	height: 50px;
	background: #CCC;
}
p {
	position: absolute;
	z-index: 10;
	top: 10px;
	left: 50px;
	width: 70px;
	height: 50px;
	background: #FFCC00;
}