p {
	margin: 0;
}
div {
	width: 110px;
	height: 100px;
	padding: 20px;
	border: 1px solid #000;
	background: url(../../../assets/img/lake-small.jpg) no-repeat;
	text-align: center;
	margin-bottom: 10px;
}
div p {
	margin-top: 40%;
	color: #FFF;
}
.background-size-cover {
	background-size: cover;
}
.background-size-contain {
	background-size: contain;
}
.background-size-per {
	background-size: 90% 70%;
}
.background-size-length {
	background-size: 110px 120px;
}