p {
	margin: 0;
}
div {
	width: 100px;
	height: 100px;
	background: #FC0;
	padding: 10px;
	animation: drift 2s infinite alternate both;
	margin: 50px;
}
@keyframes drift {
	from {
		transform: translate(0, 0);
	}
	30% {
		transform: translate(20px, 0);
	}
	60% {
		transform: translate(40px, 0);
	}
	to {
		transform: translate(60px, 0);
	}
}