p {
	margin: 0;
}
.transform {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	position: relative;
	margin: 50px;
}
.transform-inner {
	width: 80px;
	height: 80px;
	padding: 10px;
	background: #FC0;
}
div p {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 30%;
}
.transform-origin {
	transform: rotate(30deg);
}
.transform-origin1 {
	transform-origin: left top;
	transform: rotate(30deg);
}
.transform-origin2 {
	transform-origin: 10% 20%;
	transform: rotate(30deg);
}
/*div {*/
	/*transform: rotate(30deg) scale(1.2) translate(10px, 20px);*/
/*}*/