ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ovh {
	overflow:hidden;
}
.mb40 {
	margin-bottom: 40px;
}
li,div {
	width: 100px;
    height: 100px;
    background: #FFCC00;
}
span {
	font-size: 16px;
    border: 1px solid #000;
}
.bac {
	background: #CCC;
}