div {
  padding: 10px;
  border: 1px solid #000;
  width: 400px;
  text-align: center;
}
span {
  border: 1px solid #000;
  margin: 10px 0;
  padding: 10px 0;
  width: 300px;
  height: 100px;
}