div {
    width: 200px;
    border: 2px solid #000;
    margin: 50px;
	position: relative;
}
.center-tc {
    text-align: center;
    padding: 5px;
}
.center-half {
    position: absolute;
    background: #F60;
    right: 0;
    top: 0;
	left: 0;
	top: 0;
    opacity: .4;
    z-index: -1;
	width: 50%;
    height: 100%;
}
div section {
    width: 40px;
    height: 40px;
    background: #F60;
}
.center-dib {
    display: inline-block;
}