p {
	margin: 0;
}
div {
	margin: 100px;
	width: 200px;
	height: 100px;
	border: 1px solid #000;
	position: relative;
	/*overflow: hidden;*/
}
span {
	position: fixed;
	top: 10px;
	left: 20px;
	width: 70px;
	height: 50px;
	background: #CCC;
}
span {
	float: left;
}