.border-radius-top-right {
	width: 100px;
	height: 50px;
	border: 1px solid;
	border-top-right-radius: 20px 10px;
	margin-bottom: 20px;
}
.border-radius {
	width: 100px;
	height: 50px;
	border: 1px solid;
	border-radius: 20px 10px / 10px 20px;
	border-top-left-radius: 20px 10px;
	border-top-right-radius: 10px 20px;
	border-bottom-right-radius: 20px 10px;
	border-bottom-left-radius: 10px 20px;
	margin-bottom: 20px;
}
.border-circle {
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-radius: 50%;
	/* 等效于 */
	border-radius: 100%;
	border-radius: 50px;
	margin-bottom: 20px;
}