p {
	margin: 0;
}
div {
	margin-bottom: 20px;
}
div {
    width: 80px;
    height: 80px;
    background: #FFCC00;
	margin-right: -20px;
}
section {
    width: 200px;
    height: 100px;
    border: 1px solid #000;
	padding: 10px;
	margin-top: 50px;
}
span {
	border: 1px solid #FF6600;
    background: #CCC;
    color: #FFF;
}
p {
	border: 1px solid #FF6600;
    background: #CCC;
    color: #FFF;
}