p {
	margin: 0;
}
section {
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
	margin-bottom: 20px;
}
div {
	width: 50px;
    height: 50px;
    background: #FFCC00;
}
.div1 {
	width: 150px;
    height: 30px;
    background: #FFCC00;
    margin: 10px 0;
}
.div2 {
	width: 150px;
    height: 30px;
    background: #FFCC00;
}